<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="table-title pt-3 pb-3 px-4">
          <h2 class="">Dashboard - All Users</h2>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th class="w-25">Actions</th>
            </tr>
          </thead>
          {% for user in users %}
            <tr>
              <td>{{ user['id'] }}</td>
              <td>{{ user['first_name'] }}</td>
              <td>{{ user['last_name'] }}</td>
              <td>{{ user['email'] }}</td>
              <td>{{ user['created_at'] }}</td>
              <td>
                <div class="d-flex justify-content-between">
                  <a href="/show/{{ user['id'] }}">Show</a>
                  <a href="/edit_user/{{ user['id'] }}">Edit</a>
                  <a href="/delete/{{ user['id'] }}">Delete</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <form action="/new">
          <button class="btn btn-primary" type="submit">Add New User</button>
        </form>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>
</html>